.wrapper {
    align-items: center;
    text-align: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// BUTTONS TYPES
.rounded {
    min-width: 34px !important;
    min-height: 34px !important;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 52px;
    &:hover {
        background-color: rgb(63, 62, 62);
    }
}

.gray {
    color: black;
    background-color: var(--gray);
    border-color: var(--gray);

    // &:hover {
    //     background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    // }
}

.margin {
    margin-right: 18px;
}

.primary {
    border-radius: 10px;
    font-size: 16px;
    height: 48px;
    color: white;
    border-color: var(--main-light);
    background: var(--primary-bg);
    font-weight: bold;

    &:hover {
        background: var(--main-light);
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background-color: rgba(241, 252, 241, 0.753);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    font-weight: 600;
    text-align: center;
}

// BUTTON SIZES
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.medium {
    padding: 8px 18px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.leftIconStyles {
    margin: 0 8px;
}

// <Button className={cx('button')} large  onClick={clickMe} >Click Me</Button> button custom
.button {
    background-color: blueviolet;
    color: white;
}
