.color-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 12px;
    width: 324px;

    .color-option {
        overflow: hidden;
        display: grid;
        border-radius: 0.25rem;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        cursor: pointer;

        .color-option-item {
            align-items: center;
            display: flex;
            position: relative;
            height: 24px;

            &:hover {
                transform: scale(1.25);
                z-index: 50;
            }
        }
    }
}

.color-option-qa {
    overflow: hidden;
    display: flex;
    gap: 4px;
    cursor: pointer;

    .color-option-item-qa {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        border: 2px solid rgba(141, 139, 139, 0.829);
        &:hover {
            border-color: rgb(105, 105, 105);
            z-index: 50;
        }
    }
}
