.content-text {
    position: absolute;
    z-index: 90;
    width: calc(100% - 16px);

    // font-size: 16px;
    // line-height: 1.2em;
    cursor: text;
    user-select: auto;
    word-wrap: break-word;

    &.type {
        caret-color: rgb(102, 99, 99);
        color: black;
        width: calc(100% - 24px) !important;
        z-index: 50;
        margin: 12px;
    }

    &.shape {
        caret-color: white;
        color: white;
        display: flex;
        font-size: 16px;
        height: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.table-tiptap {
    margin: 12px;
    display: table;
    z-index: 50;
    position: absolute;
    opacity: 0;
}
.table-tiptap.table-focused {
    opacity: 1;
}

.placeholder {
    &.SHAPE {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        width: 100%;
    }

    &.heading {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        width: 100%;
        font-size: 48px;
        font-weight: bold;
        text-align: left;
        color: black;
    }
}
