.content-SHAPE ol {
    margin-left: 2em;
    list-style: decimal;
    font-size: 28px;
}
.content-SHAPE ol li {
    line-height: 1.5em;
    font-size: 28px;
}

.content-SHAPE ol li p {
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
    width: 73px;
}

.content-SHAPE ul {
    margin-left: 2em;
    list-style: disc;
    font-size: 28px;
}
.content-SHAPE ul li {
    line-height: 1.5em;
    font-size: 28px;
}
.content-SHAPE ul li p {
    text-align: left;
    line-height: 1.2em;
    font-size: 14px;
    width: 73px;
}

/* tiptap */

.inherit.tiptap.ProseMirror.ProseMirror-focused {
    opacity: 1;
}

.inherit.tiptap.ProseMirror {
    opacity: 0;
}

.ProseMirror p.has-placeholder::before {
    content: attr(data-placeholder);
    color: #ffff;
    height: 0;
    pointer-events: none;
}

.ProseMirror .ProseMirror-focused p.has-placeholder::before {
    content: '';
}

.hide-placeholder .ProseMirror p.has-placeholder::before {
    content: '';
}

.hide-placeholder .has-placeholder::before {
    display: none;
}

.tableWrapper {
}

.tiptap table {
    color: black;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    text-indent: 0;
    border-color: inherit;
    overflow: hidden;
}

.tiptap table td:hover::after,
.tiptap table th:hover::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    background-color: var(--green-hover);
    z-index: 10;
}

.tiptap td,
.tiptap th {
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #cdcdcd;
    min-width: 1em;
    padding: 3px 5px;
    position: relative;
}

.tiptap th {
    background-color: #f1f3f5a1;
    text-align: left;
    font-weight: 700;
}
