.content-SHAPE ol {
    margin-left: 2em;
    list-style: decimal;
    font-size: 28px;
}
.content-SHAPE ol li {
    line-height: 1.5em;
    font-size: 28px;
}

.content-SHAPE ol li p {
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
    width: 73px;
}

.content-SHAPE ul {
    margin-left: 2em;
    list-style: disc;
    font-size: 28px;
}
.content-SHAPE ul li {
    line-height: 1.5em;
    font-size: 28px;
}
.content-SHAPE ul li p {
    text-align: left;
    line-height: 1.2em;
    font-size: 14px;
    width: 73px;
}

/* tiptap */

.content-SHAPE.tiptap.ProseMirror.ProseMirror-focus {
    opacity: 1;
}

.content-SHAPE.tiptap.ProseMirror {
    opacity: 0;
}

.ProseMirror p.is-empty:first-child::before {
    content: attr(data-placeholder);
    float: center;
    color: white;
    pointer-events: none;
    height: 0;
}

.hide-placeholder .ProseMirror p.is-empty:first-child::before {
    content: '';
}
