.content-SHAPE ol {
    margin-left: 2em;
    list-style: decimal;
    font-size: 28px;
}
.content-SHAPE ol li {
    line-height: 1.5em;
    font-size: 28px;
}

.content-SHAPE ol li p {
    text-align: left;
    line-height: 1.5em;
    font-size: 14px;
    width: 73px;
}

.content-SHAPE ul {
    margin-left: 2em;
    list-style: disc;
    font-size: 28px;
}
.content-SHAPE ul li {
    line-height: 1.5em;
    font-size: 28px;
}
.content-SHAPE ul li p {
    text-align: left;
    line-height: 1.2em;
    font-size: 14px;
    width: 73px;
}
