.wrapper {
    padding: 60px 75px;
    width: 100%;
    height: 720px;
    position: relative;
}

.container {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px solid #ddd;
    overflow: hidden;
}

.display-element {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}
