.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.context {
    display: flex;
}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 160px;
    min-width: 160px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 18px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    text-align: start;
    margin-top: 8px;
    margin-bottom: 8px;
}

.title-card {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.activities {
    font-size: 14px;
    color: #666;
}

.sub-items {
    display: flex;
    gap: 18px;
    height: 100%;
    width: 100%;
    .swiper {
        padding: 16px 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: #333;
    }
    .swiper-pagination-bullet {
        background-color: #333;
    }
}

.sub-item {
    background-color: white;
    height: 200px;
    width: 240px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-radius: 8px;
}

.sub-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.sub-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.sub-content {
    position: absolute;
    background-color: white;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 14px;
    border-radius: 8px;
}

.sub-title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.sub-activities {
    font-size: 12px;
    color: #666;
}
